<!DOCTYPE html>
<html>
  <head>
    <title>Helper Widget</title>
  </head>
  <body>
    <main>
      <h1>Hello Hackathon!</h1>
      <video autoplay></video>
    </main>
    <script src="javascripts/main.js"></script>
  </body>
</html>

