<!DOCTYPE html>
<html>
  <head>
    <title>Helper Widget</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>

  <body>
    <main>
      <h1>Hello Hackathon!</h1>
      <video controls autoplay></video>
    </main>
    <script async id='video-widget'>
        var scriptTag = document.createElement('script');
        scriptTag.type = 'text/javascript';
        scriptTag.async = true;
        scriptTag.src = '/get_widget';

        var container = document.getElementById('video-widget');
        container.parentNode.insertBefore(scriptTag, container);
    </script>

    <script src="javascripts/main.js"></script>
  </body>
</html>

