<!DOCTYPE html>
<html>
  <head>
    <title>Helper Widget</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>

  <body>
    <main>
      <h1>Hello Hackathon!</h1>
      <div id="widget-container"></div>
    </main>


    <script async id='video-widget'>
      (function() {
          function loadWidget() {
              var scriptTag = document.createElement('script'),
                  container = document.getElementById('video-widget');

              scriptTag.type = 'text/javascript';
              scriptTag.async = true;
              scriptTag.src = '/get_widget';

              container.parentNode.insertBefore(scriptTag, container);
          }

          if (window.attachEvent) {
              window.attachEvent('onload', loadWidget);
          } else {
              window.addEventListener('load', loadWidget, false);
          }
      })();
    </script>

  </body>
</html>

